/* Global Styling here */
.outline-text {
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d6bcfa; */
  text-shadow: -1px 1px 0 #d6bcfa, 1px 1px 0 #d6bcfa, 1px -1px 0 #d6bcfa,
    -1px -1px 0 #d6bcfa;
}

.no-wrap {
  white-space: nowrap;
}

body,
html {
  scroll-behavior: smooth;
}

:root {
  --glass-lightness: var(--chakra-ui-color-mode);
}

.adaptive-glass {
  background: hsl(0 0% var(--glass-lightness) / 50%);
  backdrop-filter: blur(40px);
}

@supports not (backdrop-filter: blur(1px)) {
  .adaptive-glass {
    background: hsl(0 0% var(--glass-lightness) / 90%);
  }
}
